/* params */
.board > .wrapper > .params {
    width:100%;
    height:230px;
    position:absolute;
    left:0;
    top:0;
    border-bottom:1px solid;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-box-pack:start;
    -moz-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-content:stretch;
    -ms-flex-line-pack:stretch;
    align-content:stretch;
    -webkit-box-align:stretch;
    -moz-box-align:stretch;
    -webkit-align-items:stretch;
    -ms-flex-align:stretch;
    align-items:stretch;
}
.board > .wrapper > .params > * {
    padding:20px;
}
.board > .wrapper > .params > .callback-params-block {
    -webkit-box-ordinal-group:1;
    -moz-box-ordinal-group:1;
    -webkit-order:0;
    -ms-flex-order:0;
    order:0;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    -webkit-align-self:auto;
    -ms-flex-item-align:auto;
    align-self:auto;
}
.board > .wrapper > .params > :not(:last-child) {
    border-right:1px solid;
}
.board > .wrapper > .params > .params-container > .params-title {
    line-height:1.25;
    font-size:.75rem;
    user-select:none;
}

/* optimazer-block */
.optimazer-block > .params-item {
    padding-right:0;
}
.optimazer-block > .params-item > .inner {
    width:200px;
}
.optimazer-block > .params-item > .inner > .form-inline-label > .field-inline > label {
    width:120px;
}

/* params-optimazer-block */
.params-optimazer-block > .params-item {
    padding-right:0;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-box-pack:start;
    -moz-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start;
    -webkit-box-align:start;
    -moz-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
}
.params-optimazer-block > .params-item > .inner {
    -webkit-box-ordinal-group:1;
    -moz-box-ordinal-group:1;
    -webkit-order:0;
    -ms-flex-order:0;
    order:0;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    -webkit-align-self:auto;
    -ms-flex-item-align:auto;
    align-self:auto;
}
.params-optimazer-block > .params-item > .form-inline-label > .field-inline > input[type=number] {
    min-width:100px;
}
.params-optimazer-block > .params-item > .inner > .field-inline > label {
    width:100px;
}
.params-optimazer-block > .params-item > .inner > .field-inline > input[type=text],
.params-optimazer-block > .params-item > .inner > .field-inline > input[type=number] {
    max-width:none;
    width:60px;
}

/* callback-params-block */
.callback-params-block > .params-item {
    padding-right:0;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    -webkit-box-pack:start;
    -moz-box-pack:start;
    -webkit-justify-content:flex-start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-align-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start;
    -webkit-box-align:start;
    -moz-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
}
.callback-params-block > .params-item > .actions {
    -webkit-box-ordinal-group:1;
    -moz-box-ordinal-group:1;
    -webkit-order:0;
    -ms-flex-order:0;
    order:0;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto;
    -webkit-align-self:auto;
    -ms-flex-item-align:auto;
    align-self:auto;
}
.callback-params-block > .params-item > :not(:last-child) {
    padding-right:30px;
}
.callback-params-block > .params-item > .inner > .params-title {
    line-height:1.25;
    font-size:.75rem;
    user-select:none;
}
.callback-params-block > .params-item > .form-inline-label > .field-inline > label {
    width:290px;
}
.callback-params-block > .params-item > .callback-param > .field-form {
    min-width:200px;
}
.callback-params-block > .params-item > .inner > .actions-form {
    max-width:359px;
    min-width:200px;
    margin:0 0 0 auto;
}

/* graphics */
.graphics {
    height:100%;
    padding:230px 0 130px 0;
    background:transparent;
}
.graphics > .wrapper {
    height:100%;
    position:relative;
}
.graphics > .wrapper > .tabs {
    width:100%;
    position:absolute;
    left:0;
    top:0;
}
.graphics > .wrapper > .tabs > ul {
    list-style:none;
}
.graphics > .wrapper > .tabs > ul > li > span {
    display:block;
    line-height:20px;
    padding:0 20px;
    font-size:.75rem;
    cursor:pointer;
    transition:color .3s ease-in-out, background-color .3s ease-in-out, opacity .3s ease-in-out;
    user-select:none;
}
.graphics > .wrapper > .tabs > ul > li.disabled > span {
    opacity:.3;
    cursor:default;
}
.graphics > .wrapper > .tabs-content {
    height:100%;
    padding:20px 0 0 0;
}
.graphics > .wrapper > .tabs-content > .inner {
    height:100%;
}
.graphics > .wrapper > .tabs-content > .inner > .tabs-item {
    display:none;
    height:100%;
    overflow:hidden;
}
.graphics > .wrapper > .tabs-content > .inner > .tabs-item.opacity{
    display: block;
    opacity: 0;
}
.graphics > .wrapper > .tabs-content > .inner > .tabs-item.active {
    display:block;
    opacity: 1;
}
.graphics > .wrapper > .tabs-content > .inner > .tabs-item.graphs,
.graphics > .wrapper > .tabs-content > .inner > .tabs-item.scatters {
    height:100%;
}
.graphics > .wrapper > .tabs-content > .inner > .tabs-item .tab-container {
    padding:20px;
}
.graphics > .wrapper > .tabs-content > .inner > .tabs-item.graphs .tab-container,
.graphics > .wrapper > .tabs-content > .inner > .tabs-item.scatters .tab-container{
    height:100%;
}
.graphics > .wrapper > .tabs-content > .inner > .tabs-item.graphs .tab-container > *,
.graphics > .wrapper > .tabs-content > .inner > .tabs-item.scatters .tab-container > *{
    width:33.33335%;
    height: 100%;
    overflow: hidden;
}

/* training-progress */
.training-progress {
    width:100%;
    height:130px;
    position:absolute;
    left:0;
    bottom:0;
    border-top:1px solid;
}
.training-progress .info {
    padding:20px;
}
.training-progress .info > .item {
    display:block;
    line-height:1.25;
    font-size:.75rem;
}
.training-progress .info > .item:not(:last-child) {
    padding-bottom:10px;
}
.training-progress .info > ul {
    display:table-row;
    list-style:none;
}
.training-progress .info > ul:not(:last-child) > li {
    padding-bottom:10px;
}
.training-progress .info > ul > li {
    display:table-cell;
    line-height:1.25;
    font-size:.75rem;
}
.training-progress .info > ul > li:not(:last-child) {
    padding-right:20px;
}


/*
.page-3-grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.page-3-params{
    display: flex;
}

.big-label{
    display: block;
    color: #A7BED3;
    font-family: "Open Sans";
    padding-bottom: 10px;
    font-size: 12px;
}

.small-label{
    text-align: right;
    color: #A7BED3;
    font-family: "Open Sans";
    font-size: 12px;
    width: 102px;
    height: 20px;
}

.row{
    display: flex;
    flex-direction: column;
}

.form-params{
    display: flex;
}


.btns{
    display: flex;
    flex-direction: column;
    padding: 11px 0;
}

.div-input{
    padding: 10px 0;
}

.params-title{
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding-bottom: 17px;
}

.form-setting{
    padding: 5px;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.number{
    align-content: flex-start;
    font-size: 12px;
    padding: 1px;
    width: 37px;
    height: 20px;
    margin-left: 10px;
}

.large{
    width: 30%;
}

.switch{
    margin-left: 10px;
}

#div-checkboxes{
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: flex-start;
}

.check-setting{
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    white-space: nowrap;
}

.div-checkboxes-label{
    text-align: right;
    width: 60%;
}

.btn-block{
    padding: 13px 0;
}

.blue-btn{
    font-size: 14px;
}

.gray{
    background-color: #6C7883;
    color: #242F3D;
    box-shadow: 0px 1px 3px rgba(0, 133, 255, 0.5);
    border-radius: 4px;
    border: 1px solid #2B5278;
}

.params-navbar{
    background-color: #0E1621;
    display: flex;
    width: 100%;
}

.params-link{
    color: #6C7883;
    font-size: 12px;
    border-radius: 0;
    outline: none;
    list-style: none;
}

.ui-tabs .ui-tabs-nav {
    padding: 1px 0 0 0;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #6C7883;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited,
.ui-tabs-active.ui-state-active{
    color: #FFFFFF;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #0E1621;
    border: none;
}
.ui-tabs .ui-tabs-nav li {
    margin: 0;
}

.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover {
    border: none;
    background: #17212b;
    font-weight: inherit;
    color: #ffffff;
}
.ui-widget-content .ui-corner-all,
.ui-corner-all {
    background: #0E1621;
}

.ui-widget.ui-widget-content,
.ui-corner-bottom, .ui-corner-right,
.ui-corner-br, .ui-corner-bottom,
.ui-corner-left, .ui-corner-bl,
.ui-corner-top, .ui-corner-right,
.ui-corner-tr {
    border: none;
    border-radius: 0;
    background: transparent;
    font-family: 'Open Sans';
}

.ui-widget-header {
    border: none;
    background: transparent;
    color: inherit;
    font-weight: normal;
}

.ui-tabs .data-container.ui-tabs-panel {
    display: flex;
}

.params-link a {
    display: inline-block;
    width: 100%;
    padding: 10px 30px;
    outline: none;
    color: #a7bed3;
    text-decoration: none;
}

.data-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    padding: 15px 0;
}

.graphics {
    margin-bottom: 170px;
}

.graph-elem-block {
    max-height: 450px;
    overflow-y: auto;
}

.graph{
    width: 30%;
    min-width: 450px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
.graph:nth-child(2n){
    border-left: 1px solid #0E1621;
    border-right: 1px solid #0E1621;
}

.graph-titles{
    display: flex;
    padding-bottom: 24px;
    align-items: flex-start;
}

.name-graph{
    font-size: 20px;
    color: #A7BED3;
}

.graph-time{
    padding-left: 10.2vw;
}

.graph-checks{
    display: flex;
    padding: 0 20px;
    color: #CACACA;
}

.checkbox-div{
    padding: 0 10px;
}

.data-visualizer{
    width: 100%;
    height: 350px;
    padding: 0 10px;
}
.study-info-wrapper{
    border-top: 1px solid #0E1621;
    border-bottom: 1px solid #0E1621;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 20px;
}
.study-info{
    display: flex;
    flex-direction: column;
    color: #A7BED3;
    padding: 15px 30px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background: #17212b;
}

.row-info{
    display: flex;
    padding: 2px 0px;
}

.epoch-info{

}

.time-study-info{
    padding-left: 30px;
}

.accuracy-study-info{
    padding-left: 10px;
}

.accuracy-test-info{
    padding-left: 77px;
}
.time-select{
    color: #A7BED3;
    background-color: #17212B;
    border: none;
}
*/
