/**
 * Default Variables
 */

// Color 
$color-black: #0E1621;
$color-dark: #17212B;
$color-dark-gray: #242F3D;
$color-light-blue: #65B9F4;
$color-blue: #2B5278;
$color-light-gray: #F2F5FA;
$color-gray: #6C7883;
$color-gray-blue: #A7BED3;
$color-white: #FFFFFF;
$color-error: #CA5035;

// Cascades 
$color-cascades-input: #D5ECC2;
$color-cascades-model: #98DDCA;
$color-cascades-function: #FFAAA7;
$color-cascades-custom: #E4BAD4;
$color-cascades-output: #17212b;
$color-cascades-input: #17212b;

// Layers palette
$color: #17212b;


// Theme dark
$color-dark-bg: $color-dark;
$color-dark-border: $color-black;
$color-dark-text: $color-white;

// Theme light
$color-light-bg: $color-white;
$color-light-border: #E1E1E1;
$color-light-text: #ADADAD;


/* Color */
$color-normal: #6190e8;
$color-primary: #6190e8;
$color-success: #13ce66;
$color-error: #ff4949;
$color-warning: #ffc82c;
$color-info: #78a4fa;
$color-white: #fff;
