/* project-datasets-block */
.project-datasets-block {
    padding:20px;
}
.project-datasets-block.hidden {
    display:none;
}
.project-datasets-block > .title {
    line-height:1;
    margin:0 0 20px 0;
    font-size:.75rem;
    white-space:nowrap;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
}

/* filters */
.filters {
    width:100%;
    /* position:absolute; */
    left:0;
    top:0;
    border-bottom:1px solid black;
    overflow:hidden;
}
.filters > .inner > ul {
    margin:0 -5px -20px -5px;
    list-style:none;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:flex-start;
    align-items:flex-start;
}
.filters > .inner > ul > li {
    padding:0 5px 20px 5px;
}
.filters > .inner > ul > li > span {
    display:block;
    line-height:18px;
    padding:0 15px;
    font-size:.75rem;
    border:1px solid;
    border-radius:4px;
    white-space:nowrap;
    cursor:pointer;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
    transition:border-color .3s ease-in-out;
}

/* datasets */
.datasets {
    height:100%;
    padding:0 0 0 20px;
}
.datasets > .title {
    margin-top:20px;
}
.datasets > .inner {
    height:100%;
    padding:52px 0 0 0;
}
.dataset-card-container {
    height:100%;
}
.dataset-card-wrapper {
    margin:0 10px 0 -10px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:stretch;
    align-items:stretch;
}
.dataset-card-item {
    padding:0 10px 50px 10px;
    min-height: 160px;
}
.dataset-card-item.hidden {
    display:none;
}
.dataset-card {
    display:block;
    width:160px;
    height: 130px;
    position:relative;
    border:2px solid;
    border-width: 3px!important;
    box-sizing:border-box;
    border-radius:4px;
    padding:10px;
    transition:border-color .3s ease-in-out, opacity .3s ease-in-out;
    cursor:pointer;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
}
.dataset-card.disabled {
    opacity:.5;
    cursor:default;
}
.card-title {
    width: 90%;
    position:absolute;
    word-wrap: break-word;
    font-size:.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.card-body {
    height:100%;
    padding:30px 0 0 0;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
.card-tag {
    position:relative;
    font-size:.75rem;
    line-height:20px;
    color:#A7BED3;
    padding-left:15px;
}
.card-tag:before {
    display:block;
    content:'';
    width:8px;
    height:8px;
    margin:-4px 0 0 0;
    position:absolute;
    left:0;
    top:50%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}
.card-extra {
    width:100%;
    padding:0 10px;
    position:absolute;
    left:0;
    bottom:-34px;
}
.card-extra > .wrapper {
    height:30px;
    line-height:28px;
    padding:0 10px;
    font-size:.625rem;
    font-weight:600;
    border:1px solid transparent;
    border-top:0;
    border-radius:0 0 4px 4px;
}
.card-extra.is-custom > .wrapper {
    margin-right:35px;
}
.card-extra.is-custom > .remove {
    width:30px;
    height:30px;
    position:absolute;
    top:0;
    right:10px;
    border-radius:0 0 4px 4px;
    transition:background-color .3s ease-in-out;
}
.card-extra.is-custom > .remove:before {
    display:block;
    content:'';
    width:16px;
    height:16px;
    margin:-8px 0 0 -8px;
    position:absolute;
    left:50%;
    top:50%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}
.next-form{
    margin-top: 40px;
}

#amount1, #amount2, #amount3{
    width: 43px;
    margin-left: 3px;
}

.params-container > .params-item.hidden {
    display:none;
}

.row {
    /* margin:0 -5px -20px -5px; */
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:flex-start;
    align-items:flex-start;
}
.layout-title {
    line-height:1;
    padding:5px 10px;
    font-size:.75rem;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
    border-radius:4px;
}
.layout-item {
    width:50%;
    margin:0 !important;
    /* padding:0 5px 20px 5px; */
}
.layout-item .form-inline-label {
    padding-top:10px;
}
.layout-item .form-inline-label > .field-inline.field-reverse > label {
    padding:0 0 0 5px;
    font-size:.625rem;
}
.layout-item .form-inline-label > .field-inline > input {
    width:100px;
    max-width:none;
    font-size:.625rem;
}
.layout-item .form-inline-label > .field-inline .ui-selectmenu-text {
    font-size:.625rem;
}

/*.layout-params > .field-inline > label,*/
/*.layout-parameters > .field-inline > label{*/
/*    width: 95px;*/
/*    font-size: .65rem;*/
/*    margin: 0;*/
/*    text-align: end;*/
/*    padding-right: 5px;*/
/*}*/

/*.layout-params > .field-inline > .ui-widget,*/
/*.layout-parameters > .field-inline > .ui-widget{*/
/*    height: 20px;*/
/*    max-width: 75px;*/
/*}*/

/*.layout-params > .field-inline > .ui-widget > .ui-selectmenu-icon,*/
/*.layout-parameters > .field-inline > .ui-widget > .ui-selectmenu-icon{*/
/*    height: 20px;*/
/*    width: 20px;*/
/*}*/

/*.layout-params > .field-inline > .ui-widget > .ui-selectmenu-text,*/
/*.layout-parameters > .field-inline > .ui-widget > .ui-selectmenu-text{*/
/*    line-height: 20px;*/
/*    font-size: .65rem;*/
/*    padding: 0 20px 0 6px;*/
/*}*/

.search > .inner{
    display: flex;
}

.search > .inner > input{
    width: 250px;
    height: 30px;
}

.search > .inner > button{
    width: 80px;
    height: 30px;
    margin-left: 20px;
    padding: 0;
    font-size: 0.8rem;
}

.colorpicker-btn{
    height: 18px;
    width: 18px;
    background-color: #65B9F4;
    padding: 0;
    margin-left: 2px;
}

.colorpicker{
    position: absolute;
    z-index: 2;
    margin-bottom: 220px;
    margin-left: -20px;
    background-color: #17212B;
    border: 1px solid #6C7883;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.colorpicker:hover{
    border-color: #fff;
}

.layout-parameters > .color-inline > input[type=text]{
    max-width:78px;
    border-radius:0 4px 4px 0;
}

.load-dataset-field {
    padding-top:0 !important;
}
.load-dataset-field > form {
    /* margin-left:-20px;
    margin-right:-20px; */
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:stretch;
    align-items:center;
}
.load-dataset-field > form > * {
    width:100%;
    padding-left:20px;
    padding-right:20px;
}
.load-dataset-field > form > .field-inline {
    width:50%;
}
.load-dataset-field > form > .field-inline.inputs {
    padding-right:0;
}
.load-dataset-field > form > .field-inline.outputs {
    padding-left:0;
}
.load-dataset-field > form > .actions-form {
    padding-top:10px;
}
.load-dataset-field > form > .tabs {
    display:block;
    padding:1px 0 0 0;
    list-style:none;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-content:flex-start;
    align-items:flex-start;
}
.load-dataset-field > form > .tabs > li {
    line-height:1;
    padding:10px 20px;
    font-weight:600;
    font-size:.875rem;
    cursor:pointer;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
}
.load-dataset-field input[name=mode] {
    visibility:hidden;
    position:absolute;
    left:-99999999px;
    top:-99999999px;
    z-index:-1;
}

.dataset-prepare {
    padding-top:0 !important;
    padding-right:0 !important;
}
/* .dataset-prepare .params-item {
    padding-top:20px !important;
} */
.dataset-prepare .dataset-params .field-inline.field-reverse > .checkout-switch,
.dataset-prepare .layout-item .field-inline.field-reverse > .checkout-switch {
    margin-left:0;
}
.field-mode-google_drive > .ui-autocomplete {
    left:20px !important;
}

.active{
    background-color: #17212B;
}

.load-dataset-field > .inner > .tab-load-dataset > .hidden{
    display: none;
}

.load-dataset-field > .inner > .tab-load-dataset > div{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.load-dataset-field > .inner > .tab-load-dataset > div > .field-inline{
    display: flex;
    align-items: center;
}

.load-dataset-field > .inner > .tab-load-dataset > div > .field-inline > input,
.load-dataset-field > .inner > .tab-load-dataset > div > .field-inline > .ui-selectmenu-button{
    max-width: 170px;
    height: 22px;
    font-size: .75rem;
}

.load-dataset-field > .inner > .tab-load-dataset > div > .field-inline > label{
    padding-right: 7px;
    margin: 0;
}

.load-dataset-field > .inner > .tab-load-dataset > div > .field-inline > .ui-selectmenu-button > .ui-selectmenu-icon{
    height: 20px;
    width: 30px;
}

.load-dataset-field > .inner > .tab-load-dataset > div > .field-inline > .ui-selectmenu-button > .ui-selectmenu-text{
    height: 20px;
    line-height: 20px;
}

.search-num-classes{
    width:100px;
    height:22px;
    font-size:.625rem;
    font-weight:600;
}
.colorpicker-btn {
    width:22px;
    height:22px;
    padding:1px;
    margin:0;
    box-shadow:none;
    transition:none;
    border:1px solid #6C7883;
    border-right-width:0;
    border-radius:4px 0 0 4px;
}
.colorpicker-btn:hover {
    border-color:#fff;
}
#modal-window-remove-dataset form {
	padding:20px;
}
#modal-window-remove-dataset form > .inner {
	margin-bottom:0;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-content:flex-end;
    align-items:flex-end;
}
#modal-window-remove-dataset form > .inner > * {
	margin-bottom:0 !important;
}
#modal-window-remove-dataset form > .inner > .field-form > label {
	margin:0;
}
#modal-window-remove-dataset form > .actions-form {
	margin:20px -2px 0 -2px;
}
#modal-window-remove-dataset form > .actions-form > * {
	display:inline-block;
	width:50%;
	margin:0;
	padding:0 2px;
	vertical-align:top;
}



