/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face{
    font-family: "Open Sans", sans-serif; /* Имя шрифта */
    src: url("../fonts/OpenSans-Regular.ttf"); /* Путь к файлу со шрифтом */
}

.header{
    display: flex;
    width: 100%;
    height: 52px;
    background-color: #FFFFFF;
    padding: 3px;
}

.logo{
    padding: 8px 5px;
}

.logo-border{
    border: 1px solid #65B9F4;
    padding: 4px;
    height: 28px;
}

.logo-img{
    height: 100%;
}

.project-name{
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
    color: #0E1621;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.user{
    padding: 7px 24px;
    margin-left: auto;
}

.user-img{
    width: 32px;
}

.navbar{
  display: flex;
  background-color: #F2F5FA;
  padding-top: 1px;
}

.link{
  color: #6C7883;
  padding: 12px 60px;
  transition: 0.6s;
  font-family: "Open Sans", sans-serif;
}

.link:hover{
  color: #0E1621;
}

.active{
  color: #0E1621;
  background-color: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
}

.container{
    background-color: #FFFFFF;
    padding: 30px 24px;
    height: 100vh;
}

.terra-input{
    background: #F2F5FA;;
    border: 1px solid #A7BED3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #0E1621;
    padding: 7px 3px;
    font-family: "Open Sans", sans-serif;
}

.val-setting{
  color: #A7BED3;
  font-size: 14px;
  padding: 0 4px;
  transition: 0.4s;
  font-family: "Open Sans", sans-serif;
}

.val-setting:hover{
  color: #242F3D;
}

.terra-tags-title {
    color: #2B5278;
}

.terra-tag{
    display: inline;
    background-color: #F2F5FA;
    border: 1px solid #A7BED3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #242F3D;
    padding: 5px 12px;
    font-family: "Open Sans", sans-serif;
}

.dataset-card{
    display: inline-block;
    background: #F2F5FA;
    border: 1px solid #A7BED3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    width: 160px;
    height: 110px;
}

.card-title{
    display: flex;
    align-items: center;
    color: #0E1621;
    font-family: "Open Sans", sans-serif;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-tag{
    font-size: 12px;
    line-height: 20px;
    color: #65B9F4;
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
}

.card-tag::before{
    content:url('../imgs/Vector.png');
    margin-left: -12px;
    position: absolute;
}

.blue-btn{
    background: #65B9F4;
    border: 1px solid #65B9F4;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    padding: 7px 15px;
    font-family: "Open Sans", sans-serif;
}

.little{
  padding: 1px 2px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 36px;
    height: 24px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2F5FA;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #A7BED3;
    border-radius: 4px;

  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 0.1em;
    background-color: #A7BED3;
    border-radius: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    background-color: #65B9F4;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #65B9F4;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
    background-color: #65B9F4;
  }

  .check{
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .check+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .check:checked+label::before {
    border-color: #65B9F4;
    background-color: #65B9F4;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  .check:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
  .check:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  /* стили для чекбокса, находящегося в фокусе */
  .check:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .check:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .check:disabled+label::before {
    background-color: #e9ecef;
  }

  .check-label{
    color: #2B5278;
    font-family: "Open Sans", sans-serif;
  }

  .footer{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #0E1621;
  }

  .section{
    color: #6C7883;
    padding: 0 10px;
    font-family: "Open Sans", sans-serif;
  }

  .section-tpu{
    margin-left: auto;
    color: #6C7883;
    border-left: 1px solid #0E1621;
    padding: 0 10px;
    font-family: "Open Sans", sans-serif;
  }

  .first{
    border-right: 1px solid #0E1621;
  }
