{% load static compress core_utils %}

<!DOCTYPE html>
<html lang="ru">


<head>

    <meta charset="utf-8"/>

    <meta name="theme-color" content="#fff"/>
    <meta name="msapplication-navbutton-color" content="#fff"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#fff"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <title>{% block title %}TerraAI{% endblock title %}</title>

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/reset.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/jquery-ui-slider.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/farbtastic.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}"/>
    {% endcompress %}
    {% block css %}{% endblock css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/media.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/theme-dark.css' %}" id="theme-link"/>
    {% endcompress %}

</head>


<body class="namespace-{{ request|apps_namespace }} hidden">

    {% block content %}{% endblock content %}

    <div id="modal-window">
        <div class="overlay"></div>
        <div class="inner">
            <div class="header">
                <div class="title"></div>
                <div class="close" title="[ESC]"></div>
            </div>
            <div class="container">
                <div class="wrapper">
                    {% block modal_window %}{% endblock modal_window %}
                </div>
            </div>
        </div>
    </div>

    {% compress js %}
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.base64.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.serializeObject.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.mCustomScrollbar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui-slider.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/farbtastic.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/messages.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.modal-window.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/form-widgets.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% endcompress %}
    {% block js %}{% endblock js %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/visibility.js' %}"></script>
    {% endcompress %}

</body>


</html>