/**
 * Default Variables
 */

// Color
$color-black: #0e1621;
$color-dark: #17212b;
$color-dark-gray: #242f3d;
$color-dark-gray2: #1e2734;
$color-dark-gray3: #233849;
$color-light-blue: #65b9f4;
$color-blue: #2b5278;
$color-light-gray: #f2f5fa;
$color-gray: #6c7883;
$color-gray-blue: #a7bed3;
$color-white: #ffffff;
$color-error: #ca5035;
$color-orange: #FFAC60;
$color-green: #45CF81;
$color-pirple: #7984D7;

// Cascades
$color-cascades-input: #d5ecc2;
$color-cascades-model: #98ddca;
$color-cascades-function: #ffaaa7;
$color-cascades-custom: #e4bad4;
$color-cascades-output: #17212b;
$color-cascades-input: #17212b;

// Layers palette
$color: #17212b;

// Theme dark
$color-dark-bg: $color-dark;
$color-dark-border: $color-black;
$color-dark-text: $color-white;

$color-dark-bg-dropdown: $color-dark-gray;
$color-dark-bg-dropdown-iterm-active: $color-dark-gray2;

// Theme light
$color-light-bg: $color-white;
$color-light-border: #e1e1e1;
$color-light-text: #adadad;

$color-ligth-bg-dropdown: $color-gray-blue;

/* Color */
$color-normal: #6190e8;
$color-primary: #6190e8;
$color-success: #13ce66;
$color-error: #ff4949;
$color-warning: #ffc82c;
$color-info: #78a4fa;
$color-white: #fff;
