{% extends 'base.html' %}

{% load static core_utils %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/project/layout.css' %}"/>
    {% block css_block %}{% endblock css_block %}
{% endblock css %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/project/jquery.statusbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/project/jquery.request.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/project/script.js' %}"></script>
    {% block js_block %}{% endblock js_block %}
{% endblock js %}

{% block content %}
<header class="flexbox-center-nowrap">
    <div class="project flexbox-left-nowrap">
        <a href="{% url 'apps_project:datasets' %}" class="logo"></a>
        <div class="title flexbox-left-nowrap">
            <div class="label">Project:</div>
            <div class="name">
                <div class="value flexbox-center-nowrap"><span>{{ request.terra_project.name }}</span><i></i></div>
            </div>
        </div>
    </div>
    <div class="name-experiment">
        Название задачи / Название эксперимента
    </div>
    <div class="user flexbox-right-nowrap">
        <div class="item project project-new" data-type="project_new">
            <div class="icon" title="Создать новый проект"><i class="icon-project-new"></i></div>
        </div>
        <div class="item project project-save" data-type="project_save">
            <div class="icon" title="Сохранить проект"><i class="icon-project-save"></i></div>
        </div>
        <div class="item project project-load" data-type="project_load">
            <div class="icon" data-type="project_new" title="Загрузить проект"><i class="icon-project-load"></i></div>
        </div>
        <div class="item profile">
            <div class="icon"><i></i></div>
            <div class="menu">
                <div class="group">
                    <ul>
                        <li><span>Сменить цветовую схему</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="menu">
    <ul class="flexbox-left-nowrap">
        <li class="item{{ 'apps_project:datasets'|menu_active:request }}"><a href="{% url 'apps_project:datasets' %}">Данные</a></li>
        <li class="item{{ 'apps_project:modeling'|menu_active:request }}"><a href="{% url 'apps_project:modeling' %}">Проектирование</a></li>
        <li class="item{{ 'apps_project:training'|menu_active:request }}"><a href="{% url 'apps_project:training' %}">Обучение</a></li>
    </ul>
</nav>

<main class="page-{{ request|apps_namespace_page }}">
    <div class="container">
        {% block content_block %}{% endblock content_block %}
    </div>
</main>

<footer>
    <div class="message">
        <div class="wrapper"></div>
    </div>
    <div class="progress">
        <div class="wrapper"><i><span></span></i><span></span></div>
    </div>
    <div class="state {{ request.terra_project.hardware.value|lower }}">
        <div class="wrapper">{{ request.terra_project.hardware.value }}</div>
    </div>
</footer>

<section id="copyright">
    <div class="container">
        Copyright &copy; &laquo;Университет искусственного интеллекта&raquo;, {% current_year %}
    </div>
</section>
{% endblock content %}

{% block modal_window %}
    <div id="modal-window-project-new" class="modal-window-container">
        <div class="wrapper">
            <form>
                <div class="inner">
                    <div class="field-form">
                        <label>Вы действительно хотите создать новый проект? Все несохраненные данные пропадут.</label>
                    </div>
                </div>
                <div class="actions-form">
                    <div class="clear"><button>Да</button></div><div class="cancel"><button>Нет</button></div>
                </div>
            </form>
        </div>
    </div>
    <div id="modal-window-project-save" class="modal-window-container">
        <div class="wrapper">
            <form>
                <div class="inner form-inline-label">
                    <div class="field-form">
                        <label for="field_form-project_save_name">Название проекта</label>
                        <input type="text" id="field_form-project_save_name" name="name" />
                    </div>
                    <div class="field-form field-inline field-reverse">
                        <label for="field_form-project_save_overwrite">Перезаписать</label>
                        <div class="checkout-switch">
                            <input type="checkbox" id="field_form-project_save_overwrite" name="overwrite" />
                            <span class="switcher"></span>
                        </div>
                    </div>
                </div>
                <div class="actions-form">
                    <div class="save"><button>Сохранить</button></div>
                </div>
            </form>
        </div>
    </div>
    <div id="modal-window-project-load" class="modal-window-container">
        <div class="models-data">
            <div class="models-list">
                <div class="custom-scrollbar-wrapper">
                    <ul class="loaded-list"></ul>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-window-status-bar-error" class="modal-window-container">
        <div class="wrapper custom-scrollbar-wrapper">
            <div class="content"></div>
        </div>
        <div class="action">
            <span class="clipboard icon-clipboard" title="Скопировать код в буфер обмена"></span><div class="result"></div>
        </div>
    </div>
    <div id="modal-window-logging" class="modal-window-container">
        <div class="wrapper custom-scrollbar-wrapper">
            <div class="content"></div>
        </div>
        <div class="action">
            <span class="clipboard icon-clipboard" title="Скопировать код в буфер обмена"></span><div class="result"></div>
        </div>
    </div>
    {% if request.terra_project == None %}
        <div id="modal-window-no-terra-project" class="modal-window-container">
            <div class="wrapper"></div>
        </div>
    {% endif %}
{% endblock modal_window %}
