{% extends 'project/base.html' %}

{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/project/modeling.css' %}"/>
<link rel="stylesheet" href="{% static 'css/project/training.css' %}"/>
{% endblock css_block %}

{% block js_block %}
<script type="text/javascript" src="{% static 'js/project/plotly-latest.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/project/training.js' %}"></script>
{% endblock js_block %}

{% block content_block %}

<div class="toolbar project-trainig-toolbar">
    <div class="wrapper">
        <ul class="menu-section">
            <li data-type="graphs">
                <span><img src="{% static 'imgs/model-menu-1.svg' %}" alt="" /></span>
            </li>
            <li data-type="imgs" id="canvas-save">
                <span><img src="{% static 'imgs/model-menu-2.svg' %}" alt="" /></span>
            </li>
            <li data-type="text" id="validation">
                <span><img src="{% static 'imgs/validation.svg' %}" alt="" /></span>
            </li>
            <li data-type="scatters" id="validation">
                <span><img src="{% static 'imgs/validation.svg' %}" alt="" /></span>
            </li>
        </ul>
    </div>
</div>


<div class="board">
    <div class="graphics">
        <div class="wrapper">
            <div class="tabs-content">
                <div class="inner">
                    <div class="tabs-item graphics custom-scrollbar-wrapper">
                        <div class="tab-container">
                            <div class="graphics">
                                <div class="category-title">Графики</div>
                                <div class="content"></div>
                            </div>
                            <div class="scatters">
                                <div class="category-title">Скаттеры</div>
                                <div class="content"></div>
                            </div>
                            <div class="images">
                                <div class="category-title">Картинки</div>
                                <div class="content"></div>
                            </div>
                            <div class="text">
                                <div class="category-title">Текст</div>
                                <div class="content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="training-progress custom-scrollbar-wrapper">
        <div class="info"></div>
    </div>
</div>

<div class="properties project-modeling-properties">
    <div class="wrapper">
        <div class="params">
            <form class="params-container layers-form">
                <div class="scroll-block custom-scrollbar-wrapper">
                    <div class="params-item">
                        <div class="inner">
                            <div class="field-form field-inline">
                                <label for="optimazer">Оптимизатор:</label>
                                <select id="optimazer" name="optimazer" class="jquery-ui-menuselect">
                                    <option value=""></option>
                                    {% for optimizer in request.terra_project.optimizers %}
                                        <option value="{{ optimizer }}"{% if optimizer|lower == 'adam' %} selected="selected"{% endif %}>{{ optimizer }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field-form form-inline-label">
                                <div class="field-form field-inline">
                                    <label for="batch-size">Размер батча:</label>
                                    <input name="batch-size" id="batch-size" type="number" value="32" />
                                </div>
                                <div class="field-form field-inline">
                                    <label for="epoch-num">Количество эпох:</label>
                                    <input name="epoch-num" id="epoch-num" type="number" value="20" />
                                </div>
                                <div class="field-form field-inline">
                                    <label for="learning_rate">Learning rate:</label>
                                    <input name="learning_rate" id="learning_rate" type="number" value="0.001" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="params-item params-optimazer-block collapsable">
                        <div class="params-title">Параметры оптимизатора</div>
                        <div class="optimazer-item inner">
                            <div class="inner form-inline-label inner-col-0"></div>
                            <div class="inner form-inline-label inner-col-1"></div>
                        </div>
                    </div>
                        <div class="params-item output-params-block collapsable">
                            <div class="params-title">Параметры Outputs</div>
                            <div class="param-item inner">
                                <div class="outputs-content">
                                    {% for index, layer in request.terra_project.layers.items.items %}
                                        {% if layer.config.location_type == "output" %}
                                            <div class="params-title">Параметры слоя «{{ layer.config.name }}»</div>
                                            <div class="output-item form-inline-label" id="output-{{ index }}">
                                                <div class="field-form field-inline output-block select-task">
                                                    <label for="output-{{ index }}-task">Task:</label>
                                                        <select id="output-{{ index }}-task" name="output-{{ index }}-task" class="jquery-ui-menuselect task-select">
                                                            {% for param in request.terra_project.compile %}
                                                                <option value="{{ param }}">{{ param }}</option>
                                                            {% endfor %}
                                                        </select>
                                                </div>
                                                <div class="field-form field-inline output-block select-loss">
                                                    <label for="output-{{ index }}-loss">Loss:</label>
                                                        <select id="output-{{ index }}-loss" name="output-{{ index }}-loss" class="jquery-ui-menuselect loss-select">
                                                            {% for param in request.terra_project.compile.classification.metrics %}
                                                                <option value="{{ param }}">{{ param }}</option>
                                                            {% endfor %}
                                                        </select>
                                                </div>
                                                <div class="field-form field-inline output-block select-metric">
                                                    <label for="output-{{ index }}-metric">Metric:</label>
                                                     <select id="output-{{ index }}-metric" name="output-{{ index }}-metric" class="jquery-ui-menuselect metric-select">
                                                         {% for param in request.terra_project.compile.classification.losses %}
                                                             <option value="{{ param }}">{{ param }}</option>
                                                         {% endfor %}
                                                        </select>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    <div class="params-item checkpoint-block collapsable">
                        <div class="params-title">Checkpoint</div>
                        <div class="checkpoint-item inner form-inline-label">
                             <div class="field-form field-inline output-block">
                                 <label for="display">Монитор:</label>
                                 <select name="display" id="display" class="jquery-ui-menuselect">
                                     <option value="none">none</option>
                                 </select>
                             </div>
                            <div class="field-form field-inline output-block">
                                 <label for="mode">Режим:</label>
                                 <select name="mode" id="mode" class="jquery-ui-menuselect">
                                     <option value="none">none</option>
                                 </select>
                             </div>
                            <div class="switchers">
                                <div class="field-form field-inline">
                                    <label for="save-best">Сохранить лучшее:</label>
                                    <div class="checkout-switch">
                                        <input type="checkbox" id="save-best" name="save-best"/>
                                        <span class="switcher"></span>
                                    </div>
                                </div>
                                 <div class="field-form field-inline">
                                    <label for="save-weight">Сохранить веса:</label>
                                    <div class="checkout-switch">
                                        <input type="checkbox" id="save-weight" name="save-weight"/>
                                        <span class="switcher"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="params-item callbacks-switchers collapsable">
                            <div class="params-title">Выводить</div>
                            <div class="inner callback-item">
                                {% for name, callback in request.terra_project.callbacks.items %}
                                    <div class="field-form field-inline field-reverse">
                                        <label for="callback-{{ name }}">{{ callback.label }}</label>
                                         <div class="checkout-switch">
                                            <input type="checkbox" id="callback-{{ name }}" name="{{ name }}"{% if callback.value %} checked="checked"{% endif %} />
                                            <span class="switcher"></span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                    </div>
                </div>

                <div class="params-item" id="training-btns">
                    <div class="inner actions">
                        <div class="actions-form">
                            <div class="item training">
                                <button>Обучить</button>
                            </div>
                            <div class="item evaluate">
                                <button disabled="disabled">Evaluate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content_block %}

{% block modal_window %}
{{ block.super }}
<div id="modal-window-warning" class="modal-window-container">
    <div class="wrapper"></div>
</div>
{% endblock modal_window %}
