{% extends 'project/base.html' %}

{% load static core_utils %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/project/training.css' %}"/>
{% endblock css_block %}

{% block js_block %}
<script type="text/javascript" src="{% url 'apps_project:training_form_js' %}"></script>
<script type="text/javascript" src="{% static 'js/project/plotly-latest.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/project/training.js' %}"></script>
{% endblock js_block %}

{% block content_block %}

<div class="toolbar project-training-toolbar">
    <div class="wrapper">
        <ul class="menu-section">
            <li data-type="charts" disabled="disabled">
                <span title="Графики" class="icon-training-charts"></span>
            </li>
            <li data-type="scatters" disabled="disabled">
                <span title="Скаттеры" class="icon-training-scatters"></span>
            </li>
            <li data-type="images" disabled="disabled">
                <span title="Изображения" class="icon-training-images"></span>
            </li>
            <li data-type="texts" disabled="disabled">
                <span title="Текст" class="icon-training-texts"></span>
            </li>
        </ul>
    </div>
</div>

<div class="board">
    <div class="graphics">
        <div class="wrapper">
            <div class="tabs-content">
                <div class="inner">
                    <div class="tabs-item graphics custom-scrollbar-wrapper">
                        <div class="tab-container">
                            <div class="charts hidden">
                                <div class="category-title">Графики</div>
                                <div class="content">
                                    <div class="inner"></div>
                                </div>
                            </div>
                            <div class="scatters hidden">
                                <div class="category-title">Скаттеры</div>
                                <div class="content">
                                    <div class="inner"></div>
                                </div>
                            </div>
                            <div class="images hidden">
                                <div class="category-title">Изображения</div>
                                <div class="content"></div>
                            </div>
                            <div class="texts hidden">
                                <div class="category-title">Текст</div>
                                <div class="content">
                                    <div class="inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="properties project-training-properties">
    <div class="wrapper">
        <div class="params">
            <form class="params-container" novalidate="novalidate" autocomplete="off">
                <div class="params-item params-config">
                    <div class="inner settings custom-scrollbar-wrapper">
                        <div class="params-item params-optimizer"><div class="inner"></div></div>
                        <div class="params-item params-optimizer-extra collapsable collapsed">
                            <div class="params-title">Параметры оптимизатора</div>
                            <div class="inner form-inline-label"></div>
                        </div>
                        <div class="params-item params-architecture"></div>
                    </div>
                </div>

                <div class="params-item params-actions">
                    <div class="inner actions">
                        <div class="actions-form">
                            <div class="item training">
                                <button disabled="disabled">Обучить</button>
                            </div>
                            <div class="item stop">
                                <button disabled="disabled">Остановить</button>
                            </div>
                            <div class="item reset">
                                <button disabled="disabled">Сбросить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content_block %}

{% block modal_window %}
{{ block.super }}
<div id="modal-window-warning" class="modal-window-container">
    <div class="wrapper"></div>
</div>
{% endblock modal_window %}
